h2, h3 {
   font-style: italic;
    font-weight: bold;
}

.Arancio {
  color:#e99a06;
}

.centro {
    text-align: center;
}

#image{
   left:39%;
   right:50%;
   top:0%;
    height: 10rem;
    width: 10rem;
    position: relative;
}
#div_image{
    background-color: gainsboro;
    height: 15rem;
    ;
    
}
#main{
    margin:0% 25% 0% 25%;
}
.linea{
    background-color: #e99a06;
}